:read-only {
    --max-width: 746px;
    --window-width: 80%;
    --cblk: #273A31;
    --cred: #EC5242;
    --cgray: #D3D3D3; 
}

.mb {
    display: none;
}

.top-nav-container {
    background: #272A31;
    width: 100%;
}

.top-nav {
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: flex-end;
    width: var(--max-width);
    min-width: var(--max-width);
    margin: 0 auto;
    width: var(--window-width);
}

.social-icon,
.h-link {
    display: flex;
}

.social-icon {
    scale: 0.4;
    display: flex;
    gap: 24px;
}

.h-link {
    display: flex;
    gap: 24px;
}

.h-link * {
    color: #fff;
    cursor: pointer;
    font-size: .9rem;
}

.main-nav,
.headline {
    min-width: var(--max-width);
    width: var(--window-width);
    margin: 0 auto;
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;

}

.main-nav-link {
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: .9rem;
    font-weight: 500;
}

.main-nav-link a:not(:first-child):not(:last-child) {
    color: var(--cblk);
}

.main-nav-link a:first-child {
    color: var(--cred);
}

.main-nav-link a:last-child {
    color: var(--cred);
    padding: 12px;
    border: 2px solid var(--cred);
}

.headline-container {
    background: url(../assets/bg/desktop-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 87vh;
}

.headline h2:first-child {
    color: var(--cred);
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 12px;
}

.headline h2:nth-of-type(2) {
    color: var(--cred);
    font-family: 'COCOGOOSE', sans-serif;                                        
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 12px;
    line-height: 1.2;
    background-image: url(../assets/bg/text.png);
    background-size: contain;
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.intro-txt {
    width: fit-content;
    color: var(--cblk);
    border: 2px solid #fff;
    padding: 12px;
    margin-bottom: 32px;
}

.time {
    font-family: 'COCOGOOSE', sans-serif; 
    font-weight: 500;
    color: var(--cblk);
    margin-bottom: 4px;
}